* {
    background:url(./source/images/back.png);
    color: antiquewhite;
    font-family: "Audiowide", sans-serif;
}

.head {
    height: 50px;
    display: flex;
    gap: 10px;
    border-bottom: 3px solid crimson;
    padding: 10px;
    margin-right: auto;
}

#logo {
    margin-right: auto;
    display: flex;
    overflow: hidden;
}

#title {
    font-size: 50px;
    font-weight: bold;
    align-self: center;
    margin-left: 20px;
}

.about {
    border-radius: 15px;
    padding: 5px;
    border: 2px solid crimson;
    align-self: center;
    font-size: 16px;
    font-weight: bold;
    margin-right: 37px;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.upper {
    display: flex;
    margin: 20px;
    padding: 10px;
}

.join {
    font-size: 50px;
    font-weight: bold;
    margin: 20px;
    padding: 20px;
    justify-content: center;
}

button {
    border-radius: 5px;
    border: 5px;
    border-color: black;
    background: #ffe064;
    color: black;
    padding: 5px;
    font-size: 30px;
    align-self: center;
}

button:hover {
    background: crimson;
}

.playlist {
    font-size: 30px;
    align-items: end;
    flex-direction: column;
    flex: 3;
}

.playlisthead {
    background: crimson;
    padding: 5px;
    border-radius: 15px;
    font-size: 20px;
    text-align: center;
    width: 290px;
}

.spotify {
    width: 300px;
    height: 80px;
}

.middle {
    background-image: url(./source/images/white.jpg);
    border: 10px black;
    border-radius: 10px;
    padding: 10px;
    width: auto;
    height: 700px;
    display: flex;
    overflow:auto;
}

.article {
    background-image: url(./source/images/white.jpg) ;
    border:5px black;
    margin:15px ;
    text-align: center;
}

.article-body {
    text-align: justify;
    background-image: url(./source/images/white.jpg);
    color: black;
}

.pagelink {
    color: blue;
    background-image: url(./source/images/white.jpg);
}

h1 {
    text-align: center;
}

.bottom {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.videos{
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: 10px;
    justify-content: space-between;
    align-items: stretch;
}

.vid {
    border: 10px;
    border-radius: 10px;
    border-color: antiquewhite;
}

.end {
    text-align: center;
    background: url(./source/images/white.jpg);
    border-radius: 60px 25px;
    color: crimson;
    font-size: 50px;
    padding: 20px;
    display: flex;
}

.foot {
    margin: 20px 200px;
    display: flex;
    align-items: center;
}

.logo-bottom {
    border: 10px white;
    border-radius: 20px;
    margin-right: 20px;
}

#bio {
    text-align: justify;
}

#join-bottom {
    margin-left: 20px;
}

.other {
    margin-top: 20px;
    text-align: center;
}

.social {
    margin: 10px 300px;
}

.social-logo {
    background-image: url(./source/images/back.png);
    width:auto;
    height: 50px;
    margin: 10px;
}